# CasperProver environment (also configurable via config.toml)

CASPER_NODE=https://node.integration.cspr.cloud/
CASPER_CHAIN=casper-test
DEPLOYER_KEY=./keys/secret_key.pem

API_PORT=8080
API_READ_TIMEOUT=30s

PROOF_REGISTRY_HASH=
VERIFIER_GATE_HASH=
DEFI_MOCK_HASH=
